* {
  box-sizing: border-box;
}

body {
  background-color: black;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

#all-graphs {
    .one-graph {
        position: relative;

        .canvas {
          background: black;
          position: absolute;
        }

        .canvas_pointer {
          background: transparent;
          position: absolute;
        }
    }
}

.pointerOn {
  cursor: crosshair;
}

.pointerOnGrab {
  cursor: pointer;
}

#isLoading {
  position: absolute;
  z-index: 3;
  width: 100%;
  svg {
      margin:auto;
      display:block;
  
      stroke-dasharray: 1;
      stroke-dashoffset: 1;  
      animation: draw 5s backwards infinite;
      fill-opacity: 0.3;
      // we set a delay of 2s so it won't start until our drawing is finished
      //animation: fadeOpacity 2s forwards 2s infinite;
  }
}
@keyframes draw {
  from {
      stroke-dashoffset: 1;
  }
  to {
      stroke-dashoffset: 0;
  }
}