
.formularimg {
    position: absolute;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    background: grey;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formular {
    position: absolute;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    background: grey;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formular img {
    width: 100%;
    
}

select:not(:valid) {
    color: #999;
  }