/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* reset values for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
	font-family : Verdana, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white;
}

/* <div class="container"> ===================================== */
.container {
    background: black;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* <div class="menu"> =========================================== */



/* <div class="imgs"> ============================================= */
.imgs {
    display: flex;
    justify-content: center;
}

.imgs > div{
    width: 12.5%;
    margin: 1px;
    height: 75px;
    background-size: cover;

}

/* <div class="main-img"> ========================================= */
.main-img {
    top: 0px;
    height: 100vh;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center;
    position: relative;
}

.photoInfo{
    white-space: nowrap;
    width: auto;
    position: absolute;
    padding: 5px;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.homepage{
    padding: 10px;
    position: absolute;
    border: 2px none #fff;
    background-color: transparent;
    border-radius: 2%;
    outline: none;
    color: white;
    font-size: 1.5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 2%;
 
}

.prevPhoto, .nextPhoto, .next8, .prev8, .play, .stop, .slides{
    padding: 10px;
    position: absolute;
    border: none;
    /* border: 2px solid #fff; */
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    color: white;
    font-size: 5vw;
}

.next8{
    top: 10%;
    right: 8px;
}

.prev8{
    top: 10%;
    left: 8px
}

.play, .stop{
    top: 25%;
    left: 8px;
}

.slides{
    top: 25%;
    right: 8px;
}

.prevPhoto{
    top: 40%;
    left: 8px;
}

.nextPhoto{
    top: 40%;
    right: 8px;
}

.homepage a{
    color: white;
}

.nextPhoto:hover, .prevPhoto:hover, .next8:hover, .prev8:hover, .play:hover, .stop:hover, .slides:hover{
    background: white;
    color: black;
    cursor: pointer;
}

/* Fade in animation */
/* film mode property */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}


@media (max-width: 400px) {
   
    .imgs > div{
        height: 50px;
    }

    .menu > div {
        font-size: 0.7rem;
    }

    .photoInfo{
        font-size: 3vw;
    }

    .header {
        font-size: 3vw;
    }

}

@media (min-width: 1000px){

    .prevPhoto, .nextPhoto, .next8, .prev8, .play, .stop, .slides{
        font-size: 40px;
    }

}


  