.address_and_formular{
    background: url("../fotogalerie_ubytovani/535b.jpg");
	background-position: center;
	
	.formular{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		color: white;
		margin: auto;
		border-radius: 5px;
		border: 1px solid #555;
		padding-top: 1rem;
		padding-bottom: 1rem;
		position: relative;

		.adresa{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			background-color:rgba(0, 0, 0, 0.7);
			width: 90%;
			border-radius: 5px;
			border: 1px solid white;
			padding: 2px;
			margin: 0.5rem auto 1rem;
			font-size: 1rem;

			div {
				margin: 10px;
				text-align: center;
				font-size: 13px;

				a {
					color: white;
				}
			}
		}

		.form_result_alert{
			position: absolute;
			width: 80%;
			height: 60%;
			top: 50px;
			color: black;
			border: 1px solid white;
			border-radius: 5px;
			text-align: center;
			visibility: hidden;
			text-decoration: none;
		
			ul {
				list-style: none;
			}
		}

		.input_booking{
			background-color:rgba(0, 0, 0, 0.4);
			width: 90%;
			border-radius: 5px;
			border: 1px solid white;
			padding: 2px;
			margin: 5px;

			&:hover{
				border: 1px solid black;
			}

			label{
				font-size: 0.7rem;
				font-weight: bold;
				text-align: left;
				margin: 2px 5px;
			}
		}

		input,
		textarea {
			font-size: 1.0rem;;
			width: 100%;
			background-color: transparent;
			border: none;
			margin: 2px 5px;
			transition: none;
			color: white;
			letter-spacing: 0.1rem;
		}

		input[type=email]:focus,
		textarea:focus {
			border: none;
			outline: none;
		}
	
		.antispam_booking {
			width: 40%;
		}

		::-webkit-input-placeholder { /* Edge */
			color: white;
		}
		:-ms-input-placeholder { /* Internet Explorer */
			color: white;
		}
		::placeholder {
			color: white;
		}

		.submit_booking{
			border-radius: 5px;
			border: 1px solid white;
			margin: 5px;
			background-color:rgba(0, 256, 0, 0.4);
			width: 40%;

			&:hover{
				border: 1px solid black;
			}
			
			input{
				width: 100%;
				padding: 20px;
				font-size: 1rem;
				border-radius: 5px;
				
				&:focus{
					background-color:rgba(0, 256, 0, 0.5);
				}
			}
		}
	} // <--- EMD .form_booking
} // <--- END .address_and_formular



.maps{
	//background-color: white;
	background: url("../fotogalerie_ubytovani/281b.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	section{
		text-align: justify;
		padding: 10px;
		color: white;
		background-color:rgba(0, 0, 0, 0.5);
		justify-content: center;
		align-items: center;
		text-align: center;
		
		.img-left{
			float: left;
			margin: 0 1rem 1rem 0;
		}
		
		img {
			height: auto;
			max-width: 90%;
			margin: 1rem;
		}		
	}
}
