/* reset values for all elements */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    line-height: 1.6;
    background-color: black;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    border: black solid 3px;
    background: black;
}

/* menu */
.menu {
    display: flex;
    justify-content: center;
}

.menu > div {
    width: 100%;
    margin: 1px;
    font-size: 1rem;
}

/* 8 imgs */
.imgs {
    display: flex;
    justify-content: center;
}

.imgs > div{
    width: 100%;
    margin: 1px;
}

/* main picture */
.main-img {
    display: flex;
    position: relative;
    text-align: center;

}

.main-img img{
    width: 100%;

}

.main-img > .photoInfo{
    width: auto;
    margin: 1px;
}

.main-img > .prevPhoto{
    width: 5%;
    margin: 1px;
}

.main-img > .nextPhoto{
    width: 5%;
    margin: 1px;
}


.nextPhoto{
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.photoInfo{
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.prevPhoto {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
  }


.next8{
    text-align: right;
}

.play, .stop, .photoInfo{
    text-align: center;
}

.next8, .prev8, .play, .stop{
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 5px 10px;
   /* border-radius: 10px; */
    margin: 20px 0px 20px 0px;

}

.next8:hover, .prev8:hover, .play:hover, .stop:hover, .nextPhoto:hover, .prevPhoto:hover{
    background: black;
    color: white;
    cursor: pointer;
}


.eightImgsAll{
    height: 100px;
    width: 100%;
    background-size: cover;
    borderWidth = "2px";
}






/* Fade in animation */
/* film mode property */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}


@media (max-width: 700px) {
   
.eightImgsAll{
    height: 50px;
}

.nextPhoto, .prevPhoto, .photoInfo{
    font-size: 0.7rem;
}

.menu > div {
    font-size: 0.7rem;
}

.header {
    text-align: center;
    font-size: 1rem;
}

  }
  