:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #4CAF50;
  --lose-color: #dc3545;
  --win-color: #28a745;
  --modal-duration: 1s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}

.alert {
  background-color: #f5f5f5;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
  grid-gap: 1px;
  text-align: center;
}

.menu input, .menu button, .menu select {
  /* display: visible; */
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 0rem;
  padding: 5px;
}

.menu input:hover, .menu button:hover, .menu select:hover {
  background: var(--primary-color);
}

/* ========================= table start ==========================*/
table {
  width: 100%;
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  padding: 6px;
}

table th {
  background-color: #4CAF50;
}

table tr:hover {
  background-color: #f5f5f5;
}

table .td-header {
  background: black;
  color: aqua;
}

table .td-prio-one {
  background: red;
}

table .td-prio-two {
  background: orange;
}

table .td-prio-three {
  background: pink;
}

table .my-pre-off, table .my-pre-on {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  display: none;
}

table .my-pre-on {
  display: inline;
}

/* ========================= table end ==========================*/
